:root {
  --fuenteHeading: "PT Sans", sans-serif;
  --fuenteParrafo: "Open Sans", sans-serif;

  --cafe: #784d3c;
  --blanco: #ffffff;
  --negro: #000000;
  --gris: #e1e1e1;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 2;
  font-size: 1.6rem;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
h1,
h2,
h3,
h4 {
  font-family: var(--fuenteHeading);
}
img {
  max-width: 100%;
}
p {
  font-family: var(--fuenteHeading);
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}
.contenedor {
  width: min(90%, 120rem);
  margin: 0 auto;
}
.webp .header {
  background-image: url(/img/banner.webp);
}
.no-webp .header {
  background-image: url(/img/banner.jpg);
}
.header {
  height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (min-width: 768px) {
  .barra {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.barra__bold {
  color: var(--blanco);
  font-weight: normal;
}
.barra__normal {
  color: var(--blanco);
  font-weight: bold;
}
@media (min-width: 768px) {
  .navegacion {
    display: flex;
    gap: 2rem;
    font-family: var(--fuenteHeading);
  }
}
.navegacion__enlace {
  color: var(--blanco);
  text-align: center;
  font-size: 1.8rem;
  display: block;
}
.header__texto {
  color: var(--blanco);
}
@media (min-width: 768px) {
  .contenido-principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
}
.blog {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}
.blog:last-of-type {
  border: none;
  margin-bottom: 0;
}
.boton {
  display: block;
  color: var(--blanco);
  padding: 1rem 3rem;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--fuenteHeading);
  font-weight: bold;
}
@media (min-width: 768px) {
  .boton {
    display: inline-block;
    color: var(--blanco);
    padding: 1rem 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    border: none;
    font-family: var(--fuenteHeading);
    font-weight: bold;
  }
}
.boton--primario {
  background-color: var(--negro);
}
.boton--secundario {
  background-color: var(--cafe);
}
.widget-curso {
  list-style: none;
  border-bottom: 1px solid var(--gris);
}
.widget-curso:last-of-type {
  border: none;
}
.widget__bold {
  font-family: var(--fuenteHeading);
  font-size: 1.8rem;
  font-weight: bold;
}
.widget__normal {
  font-weight: normal;
}
.footer {
  background-color: var(--negro);
  margin-top: 4rem;
}
@media (min-width: 768px) {
  .nosotros-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
@media (min-width: 768px) {
  .cursos {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
  }
}
.cursos:last-of-type {
  border: none;
  padding-bottom: 0;
}

.curso__bold {
  font-size: 1.8rem;
  font-family: var(--fuenteHeading);
  font-weight: bold;
}
.curso__normal {
  font-weight: normal;
}
.contacto-bg {
  background-image: url(/img/contacto.jpg);
  height: 40rem;
}
.formulario {
  width: 90%;
  margin: -5rem auto 0 auto;
  background-color: var(--blanco);
  padding: 5rem;
}
.campo {
  display: flex;
  gap: 2rem;
}
.campo__label {
  flex: 0 0 9rem;
  text-align: right;
}
.campo__field {
  flex: 1;
  margin-bottom: 1rem;
}
.campo__field--textarea {
  height: 20rem;
}
